poetry.lock
pyproject.toml
Poetry_tutorial
.ipynb_checkpoints
__pycache__/
sap/build
sap/near_kernel
sap/.vscode
confs/
fake_tv/
AMG/build/
AMG/.vscode
real_tv/
plaquettes/
model_weights/
h5Data/
venv/
tests/__pycache__
tests/.ipynb_checkpoints